html {
  scroll-behavior: smooth; }

body {
  background-color: #FAF8F6;
  margin: 0;
  font-family: 'Outfit', sans-serif; }

header {
  margin: 20px;
  text-align: center; }
  header h1 {
    display: none;
    font-size: 100px;
    color: #ef476f;
    margin-bottom: 20px; }
  header h2 {
    display: none;
    font-weight: normal;
    font-size: 28px;
    color: #073b4c;
    line-height: 1.5; }

#randomWordsSection {
  display: none;
  margin: 20px; }
  #randomWordsSection h2 {
    font-weight: normal;
    font-size: 24px;
    color: #073b4c;
    line-height: 1.25; }
    #randomWordsSection h2 #btnRW {
      background-color: #FAF8F6;
      color: #118ab2;
      display: block;
      margin: 10px auto;
      font-size: 24px;
      font-family: 'Outfit', sans-serif;
      padding: 10px;
      border-style: solid;
      border-radius: 5px;
      border-color: #118ab2;
      cursor: pointer; }
  #randomWordsSection #randomWords {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none; }
    #randomWordsSection #randomWords li {
      background-color: #FAF8F6;
      color: #073b4c;
      padding: 5px 20px;
      margin-bottom: 20px;
      border-style: solid;
      border-color: #118ab2;
      border-radius: 10px; }
      #randomWordsSection #randomWords li .wordRW {
        color: #118ab2;
        text-transform: uppercase;
        font-size: 20px;
        margin: 10px 0; }
      #randomWordsSection #randomWords li .partOfSpeechRW {
        text-transform: capitalize;
        font-size: 18px;
        margin: 10px 0; }
      #randomWordsSection #randomWords li .definitionRW {
        font-size: 18px;
        margin: 10px 0;
        line-height: 1.25; }
      #randomWordsSection #randomWords li .definitionRW::first-letter {
        text-transform: uppercase; }

nav {
  display: none; }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0; }
    nav ul li {
      background-color: #4F4F4B;
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 24px;
      font-weight: bold;
      color: #ffd166;
      cursor: pointer; }

#catalogue {
  opacity: 0;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
  column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 20px; }
  #catalogue .catalogueCard {
    height: 200px; }
    #catalogue .catalogueCard .card {
      display: flex;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      color: #ef476f;
      border-style: solid;
      border-width: 5px;
      border-radius: 10px;
      background-color: #FAF8F6;
      border-color: #ef476f;
      justify-content: center;
      align-items: center;
      height: 100%; }

#inputWords {
  display: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #118ab2;
  padding-top: 20px; }
  #inputWords input {
    font-size: 18px;
    color: #073b4c;
    margin: 5px auto 10px;
    width: 400px;
    display: block;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    background-color: #FAF8F6; }
  #inputWords button {
    font-size: 24px;
    width: 400px;
    background-color: #FAF8F6;
    border-radius: 5px;
    color: #06d6a0;
    font-family: 'Outfit', sans-serif;
    margin: 20px 0;
    padding: 5px;
    cursor: pointer;
    border-color: #06d6a0;
    border-style: solid; }

a {
  text-decoration: none; }

#presentation {
  display: none; }
  #presentation div {
    margin: 20px;
    padding: 60px 30px 60px 30px;
    background-color: #FAF8F6;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #118ab2; }
    #presentation div p {
      margin: 0;
      font-size: 24px;
      line-height: 50px;
      text-align: left;
      font-weight: normal;
      color: #073b4c; }
      #presentation div p span {
        font-weight: bold;
        color: #ef476f; }
    #presentation div .resultTitle {
      font-size: 32px;
      text-align: center;
      font-weight: bold;
      color: #ef476f;
      margin-bottom: 10px; }
    #presentation div #resetAll {
      background-color: #FAF8F6;
      padding: 5px 15px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      color: #ef476f;
      cursor: pointer;
      border-style: solid;
      border-color: #ef476f;
      float: right; }

#footer {
  padding-top: 10px;
  width: 100%;
  text-align: center; }
