@import "variables";

html {
    scroll-behavior: smooth;
}
body {
    background-color: $white;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}
header {
    margin: 20px;
    text-align: center;
    h1 {
        display: none;
        font-size: 100px;
        color: $red;
        margin-bottom: 20px;
    }
    h2 {
        display: none;
        font-weight: normal;
        font-size: 28px;
        color: $dark;
        line-height: 1.5;
    }
}

#randomWordsSection {
    display: none;
    margin: 20px;
    h2 {
        font-weight: normal;
        font-size: 24px;
        color: $dark;
        line-height: 1.25;
        #btnRW {
            background-color: $white;
            color: $blue;
            display: block;
            margin: 10px auto;
            font-size: 24px;
            font-family: 'Outfit', sans-serif;
            padding: 10px;
            border-style: solid;
            border-radius: 5px;
            border-color: $blue;
            cursor: pointer;
        }
    }
    #randomWords {
        display: none;
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            background-color: $white;
            color: $dark;
            padding: 5px 20px;
            margin-bottom: 20px;
            border-style: solid;
            border-color: $blue;
            border-radius: 10px;
            .wordRW {
                color: $blue;
                text-transform: uppercase;
                font-size: 20px;
                margin: 10px 0;
            }
            .partOfSpeechRW {
                text-transform: capitalize;
                font-size: 18px;
                margin: 10px 0;
            }
            .definitionRW {
                font-size: 18px;
                margin: 10px 0;
                line-height: 1.25;
            }
            .definitionRW::first-letter {
                text-transform: uppercase;
            }
        }
    }
}

nav {
    display: none;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        li {
            background-color: $gray;
            padding: 10px 30px;
            border-radius: 5px;
            font-size: 24px;
            font-weight: bold;
            color: $yellow;
            cursor: pointer;
        }
    }
}

#catalogue {
    opacity: 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 20px;
    .catalogueCard {
        height: 200px;
        .card {
            display: flex;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            color: $red;
            border-style: solid;
            border-width: 5px;
            border-radius: 10px;
            background-color: $white;
            border-color: $red;
            justify-content: center;
            align-items: center;
            height: 100%;

        }
    }
}

#inputWords {
    display: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: $blue;
    padding-top: 20px;
    input {
        font-size: 18px;
        color: $dark;
        margin: 5px auto 10px;
        width: 400px;
        display: block;
        text-align: center;
        border-style: solid;
        border-radius: 5px;
        background-color: $white;
    }
    button {
        font-size: 24px;
        width: 400px;
        background-color: $white;
        border-radius: 5px;
        color: $green;
        font-family: 'Outfit', sans-serif;
        margin: 20px 0;
        padding: 5px;
        cursor: pointer;
        border-color: $green;
        border-style: solid;
    }
}
a {
    text-decoration: none;
}
#presentation {
    display: none;
    div {
        margin: 20px;
        padding: 60px 30px 60px 30px;
        background-color: $white;
        border-radius: 15px;
        border-style: solid;
        border-width: 5px;
        border-color: $blue;
        p {
            margin: 0;
            font-size: 24px;
            line-height: 50px;
            text-align: left;
            font-weight: normal;
            color: $dark;
            span {
                font-weight: bold;
                color: $red;
            }
        }
        .resultTitle {
            font-size: 32px;
            text-align: center;
            font-weight: bold;
            color: $red;
            margin-bottom: 10px;
        }
        #resetAll {
            background-color: $white;
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            color: $red;
            cursor: pointer;
            border-style: solid;
            border-color: $red;
            float: right;
        }
    }
}

#footer {
    padding-top: 10px;
    width: 100%;
    text-align: center;
}